
@font-face {
    font-family: 'Kanit';
    src: url(/assets/fonts/Kanit/Kanit-Bold.ttf);
    font-size: normal;
    font-weight: bold;
} 

@font-face {
  font-family: 'Kanit';
  src: url(/assets/fonts/Kanit/Kanit-Italic.ttf);
  font-size: normal;
  font-weight: normal;
} 
*{
  box-sizing: border-box;
}

html{
    background: linear-gradient(to bottom, rgb(87, 87, 87), rgb(125, 133, 151) );
    background-size: cover;
}

h1{
  color: rgb(44, 44, 44);
  font-family:"Kanit";
  font-weight: 500;
  font-style: oblique;
}
  /* aaaa */
  /* rgb(65, 90, 119), rgb(119, 141, 169) version actual */
  /* rgb(7, 15, 43), rgb(27, 26, 85), rgb(83, 92, 145), rgb(146, 144, 195) ordenado*/
  /* rgb(146, 144, 195), rgb(83, 92, 145), rgb(27, 26, 85), rgb(7, 15, 43) invertido */
  /* rgb(232, 227, 216), rgb(109, 93, 110), rgb(79, 69, 87), rgb(57, 54, 70) alternativo*/

#wrapper{
  padding-bottom: 1cm;
  margin: 80px auto;
  width: 70%;
}
#andres{
  max-width: 320px;
  height: 330px;
  float: left;
  border: 3px solid; 
  box-shadow: rgb(27, 38, 59) 0px 5px 12px 10px;
  border-radius: 10px;
  margin-right: 1cm;
  margin: 1cm;
}


header{
  text-align: center;
  padding: 0.5cm;
  padding-bottom: 0.2cm;
  background-color: rgb(91, 91, 91);
}

  h1{ 
    text-align: left;
    font-size: 3em;
    margin-bottom: 2cm ;
  }

  .introduccion{ 
    margin-top: 0.7cm;
    margin-bottom: 0.1cm;
    text-align: left; 
    color: aliceblue;
    margin-top: 1em;
    font-size: 0.5cm;
    margin-bottom: 0.1cm;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 100;
  }

  .yo{
    margin-top: 0.1cm;
    text-align: left;
    color: beige;
    font-size: 4em;
    font-family: 'Kanit';
    font-style: oblique;
    font-weight: 600;
  }

  h2{
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    font-size: 0.8cm;
    font-family: 'Kanit';
    font-style: normal;
  }

main{
  padding: 0.2cm;
  padding-top: 0.5cm;
  padding-left: 0.7cm;
  padding-right: 0.7cm;
}

  #sobreMi{
    color: rgb(35, 35, 35);
    /* font-size: 48px; */
  }

  #aboutMe{
    padding-top: 0.8cm;
    padding-bottom: 1.5cm;
  }

  #texto1{
    text-align: center;
    padding: 1cm;
    /* margin-right: 10px; */
    font-family: 'Kanit';
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 246, 233);  
  }

  #lista1{
    text-align: left;
    /* margin-top: 0.2cm; */
    padding-top: 0.6cm;
    padding-bottom: 0.4cm;
    padding-left: 1cm;
    font-family: 'Kanit';
    font-style: oblique;
    font-size: 23px;
    color: rgb(255, 246, 233);
  }

  .lista2{
    padding-top:0.1cm;
    padding-bottom:0.1cm;
    list-style:circle;
  }

  #misTecnologias{
    margin-top: 1cm;
    margin-bottom: 2cm;
  }
  .card{
    text-align: center;
    box-shadow: rgb(127, 197, 188) 0px 5px 12px 10px;
    margin: 25px;
    border-radius: 10px;
  }
.container{
    margin: 0, 15px;
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }

  .imagen{
    width: 290px;
    height: 340px;
    margin: 0 12px;
  }
  #html{
    margin-top: 1cm;
  }
  
  #img1{
    text-align: center;
  }

  #texto2{
    text-align: center;
    padding: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    font-family: 'Kanit';
    font-style: italic;
    font-size: 32px;
    color: rgb(255, 246, 233);
  }

  #tecnologias{
    color: rgb(35, 35, 35);
  }

footer{
  padding: 0.6cm;
}


  .listaFooter{
    padding: 10px;
  }
  #footerAc{
    color: rgb(255, 246, 233);
    font-weight: 300;
    text-align: center;
  }
  .actividades{
    text-align: center;
    padding-bottom: 0.7cm;
    color: lightgray;
  }

  #ulFooter{
    padding-left: 1.5cm;
  }


  .activity-card{
    text-align: center;
    background-color: rgb(125, 133, 151);
    border:solid black 1px;
    box-shadow: rgb(219, 220, 203) 0px 2px 5px 4px;
    margin: 25px;
    border-radius: 8px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 15px;
  }

  .activity-title{
    text-align: center;
    margin-bottom: 2px;
  }

  #contenedorDeActividades{
    margin: 0, 15px;
    display: flex;
     justify-content: center
   
  }

  .activity-card h3 {
    margin-bottom: 10px; 
}
.activity-card p {
  margin-bottom:25px ;
}

  .activity-image{
    justify-content: center;

  }

  .activity-card img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 10px;
}




  button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(87, 87, 87);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: rgb(35, 35, 35);
    box-shadow: 0 0 20px #404d5550;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  /* button {
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  button:hover {
    background-color: #45a049; 
  } */
  
#cartaCreada{
  justify-content: left;
  padding-bottom: 10px;

 }